@use '../../styles/variable.scss' as *;

// stile per la navbar

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0rem 2rem;
}

// stile per il logo
.logoContainer {
    width: 175px;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logo {
    width: 100%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0rem;
    }

    .toggleButton {
        display: block;
        padding: 0;

        &:hover {
            background-color: transparent;
        }

        &:focus {
            outline: none;
            background-color: transparent;
        }

        &:active {
            background-color: transparent;
        }
    }

    .navLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        position: absolute;
        padding-left: 0;
        top: 62px;
        left: 0;
        right: 0;
        background-color: $primary-color;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .navLinks.open {
        display: flex;
        flex-direction: column;
        max-height: 300px;
    }

    .links {
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 3.5rem;
        font-size: 1.728rem;
        width: 100%;

        a {
            color: white;
            text-decoration: none;
        }
    }
}
